<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>   
        <p>
            @ViewBag.Greeting
            @ViewBag.UserName, Nasılsın ?
        </p>
        <p>Umarım kurslarımızdan memnunsunuzdur...</p> 
        <p>
            <a asp-action="apply" asp-controller="course">Başvuru Yap</a>
        </p>
</body>
</html>